Source: sps-ldap-acls
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.4.1
Homepage: https://www.univention.de/

Package: sps-ldap-acls
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LDAP ACLs for an SPS based installation
 This packages creates the group User Admins. The members
 of this group are allowed to administrate users and groups.
